__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Misc
.DS_Store
